@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Fondo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #110224;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

/* Contenedor principal */
.app-container {
  display: flex;
  align-items: center; 
  gap: 100px; 
}

/* Contenedor del título "UNO" */
.title-container {
  flex: 1; 
  text-align: center;
}

/* Texto "UNO" */
h1 {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 14rem;
  font-weight: bold;
  margin: 0; 
}

/* Contenedor del formulario */
.form-container {
  flex: 1; 
  display: flex;
  justify-content: center;
}

/* Contenedor del formulario de registro */
.signup-container {
  background-color: rgba(255, 255, 255, 0.055);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  text-align: center;
  backdrop-filter: blur(50px); 
}

/* Texto "Sign-up" */
h2 {
  color: white; 
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
  width: 360px;
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  color: white; /* Texto en blanco */
}

/* Inputs */
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #110224; 
}

/* Botón de Sign-up */
.submit-button, 
.nav-button{
  background-color: #300353;
  color: #05F205;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  width: auto;
}

.submit-button:hover,
.nav-button:hover {
  background-color: #4a1a6b;
}

/* Texto "or" */
.or-text {
  margin: 15px 0;
  color: white;
}