@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.room-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 2vw;
}

.players-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  gap: auto;
}

.player-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}

.player-icon {
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
}

.player-username {
  margin-top: 1vh;
  font-size: 1.5vw;
  font-family: "Audiowide";
}

.game-id-box {
  padding: 0.2vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2vh;
  background-color: #fff;
  font-size: 2vw;
  color: black;
}

.start-button {
  padding: auto;
  font-size: 2vw;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-family: "Audiowide";
}

.start-button:hover {
  background-color: #45a049;
}
